/target
/.env
/channels.json
/conversations.json
/users.json
/settings.toml
/selected-conversations.json
/selected-conversations.md
/emojis.json
/emojis/
/attachments/
/conversation-index.json
/data.ms/
/meilisearch

# Parquet exports
/channels.parquet
/users.parquet
/conversations/
